<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Belly Button Biodiversity Dashboard</title>

    <link href="https://bootswatch.com/4/simplex/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href= "/static/css/style.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar-dark navbar-fixed-bottom">
        <a class="navbar-brand" href="#">Biodiversity Dashboard</a>
     </nav>
    <div class="jumbotron text-center">
         <h1>Belly Button Biodiversity</h1>
    </div>
    <!-- left section -->
    <div class="container">
        <div class="row">
            <div class="col-md-2">

                <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                    <div class="card-header">SELECT Sample</div>
                    <div class="card-body">
                      <select id="selDataset" onchange="optionChanged(this.value)"></select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-md-2">
                    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                        <div class="card-header">Sample MetaData</div>
                        <div class="card-body">
                          <div id="sample-metadata" class="panel-body"></div>
                        </div>
                      </div>
                    </div>
                  </div>
          </div>
    <!-- right section -->
            <div class="col-md-5">
                <div id="pie"></div>
            </div>
            <div class="col-md-5">
                <div id="gauge"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="bubble"></div>
        </div>
    </div>

    <!-- Bootstrap, D3, and Plotly -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="/static/js/app.js"></script>
    <script src="/static/js/bonus.js"></script>


</body>

</html>